.form {
  margin: 100px auto;
  height: 257px;
  width: 600px;
  border: 1px solid gray;
  border-radius: 8px;

  .form-body {
    display: flex;
    flex-direction: column;

    .form-title {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      font-size: 25px;
      font-weight: 500;
      color: rgba(40, 40, 40, 0.83);
    }

    input {
      width: auto;
      border: 1px solid gray;
      border-radius: 6px;
      margin: 20px 40px 0 40px;
      font-size: 15px;
      padding: 10px;
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 40px;

      .register {
        color: rgba(40, 40, 40, 0.83);
        font-weight: 500;
        a {
          margin-left: 10px;
          color: #4c3de5;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      button {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 15px;
        border: 1px solid #0a7911;
        border-radius: 5px;
        background: none;
        color: #0a7911;
        &:hover {
          color: #fff;
          background-color: #0a7911;
          transition: 100ms background linear;
        }
      }
    }
  }
}